.avatarPlaceholderContainer {
    display: block;
    float: left;
    background-color: #EFF3F4;
    line-height: 0.989;
}

.avatarPlaceholder {
    display: block !important;
    margin: 0 !important;
    color: #618993 !important;
    width: 100% !important;
}

.sizePostComment {
    margin-right: 1em;
}

.sizePostComment > i {
    font-size: 2.5em !important;
}

.sizeAboutMe > i {
    font-size: 20em !important;
}