.newCommentContainer {
    max-width: 100% !important;

    textarea {
        resize: none;
        width: calc(100% - 5em);
        border: 1px solid #ddd;
        border-radius: 10px;
        height: 3em;
        padding: 0.6em;

        transition: border 0.2s ease-out, border-radius 0.2s ease-out;

        &.active {
            border-radius: 0;
            border-bottom: 1px solid #222;
        }
    }

    .pseudoLoggedIn {
        width: 9px;
        height: 9px;
        border-radius: 5px;
        position: absolute;
        background-color: #95d731;
        left: 2.2em;
        top: 2.2em;
    }

    .buttonContainer {
        padding: 0.5em 1.5em 0 0;
        animation-name: expand;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;

        @keyframes expand {
            0% {padding-bottom: 0}
            100% {padding-bottom: 2em}
        }
    }
}