.newCommentContainer {
    max-width: 100% !important;

    textarea {
        resize: none;
        width: calc(100% - 5em);
        border: 1px solid #ddd;
        border-radius: 10px;
        height: 3em;
        padding: 0.6em;
    }

    .pseudoLoggedIn {
        width: 9px;
        height: 9px;
        border-radius: 5px;
        position: absolute;
        background-color: #95d731;
        left: 2.2em;
        top: 2.2em;
    }

    .buttonContainer {
        margin: 0.5em 1.5em 0 0;
    }
}