.hidden {
    display: none !important;
}
.shown {
    display: block !important;
}

.noMargin {
    margin: 0 !important;
}

.noPadding {
    padding: 0 !important;
}

.maxWidth {
    width: 100% !important;
}

.postText {
    text-align: left;
}