:root {
    --mainBackground: #f1e4e4; 
    --topPanelBackground: #02af8d;
    --topPanelLinkColor: #e4e4e4;
    --firstColor: #49beb7;
    --textColor: #111;
    --postBackground: #f1e4e4;
    --postLinkColor: #4183c4;
    --postShadow: -10px -10px 12px 0 rgba(255, 255, 255, 0.5),
                10px 10px 12px 0 rgba(0, 0, 0, 0.1);
    --topPanelBtnShadow: -4px -4px 12px 0 rgba(255, 255, 255, 0.3),
                        4px 4px 12px 0 rgba(0, 0, 0, 0.15);
    --topPanelReverseShadow: -2px -2px 10px 0 rgba(0, 0, 0, 0.15),
                        1.5px 1.5px 10px 0 rgba(255, 255, 255, 0.3);
    --topPanelShadowTransition: box-shadow .15s ease-in-out;
}

body {
    background-color: var(--mainBackground);
}

#topPanel {
    background-color: var(--topPanelBackground) !important;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.35) !important;

    &>div div {
        box-shadow: var(--topPanelBtnShadow);
        transition: var(--topPanelShadowTransition);
        border-radius: 15px;

        &:hover {
            box-shadow: var(--topPanelReverseShadow);
        }
    }

    a {
        color: var(--topPanelLinkColor) !important;
        box-shadow: var(--topPanelBtnShadow);
        transition: var(--topPanelShadowTransition);
        border-radius: 15px;

        div {
            color: var(--topPanelLinkColor) !important;
        }

        &:hover {
            box-shadow: var(--topPanelReverseShadow);
        }

    }

    p {
        box-shadow: var(--topPanelReverseShadow);
    }
}

.postContainerOverlay {
    background-color: var(--postBackground) !important;
    padding: 15px;
    border-radius: 5px;
    box-shadow: var(--postShadow);

    .roomGrid {
        min-height: 230px;
    }

    .roomTitle a {
        color: var(--postLinkColor);
    }

    .roomDescription p {
        color: var(--textColor);
        font-weight: 600;
    }

    .roomFooter {
        color: var(--textColor);
        font-weight: 400;
    }
}

.postPlaceholder {
    background-color: var(--textColor) !important;

    .image {
        background-color: var(--textColor) !important;
    }

    .line {
        background-color: var(--textColor) !important;
    }

    .placeholder {
        background-color: var(--textColor) !important;
    }

}

.asLink {
    color: var(--postLinkColor);

    &:hover {
        color: var(--postLinkColor);
        cursor: pointer;
    }
}

.centered.row {
    margin-bottom: 20px;
    margin-top: 20px;
}

.cardMiddle {
    box-shadow: var(--postShadow) !important;
}