:root {
    --mainBackground: #f1e4e4; 
    --topPanelBackground: #02af8d;
    --topPanelLinkColor: #e4e4e4;
    --firstColor: #49beb7;
    --textColor: #111;
    --postBackground: #f1e4e4;
    --postLinkColor: #9450a5;
}

body {
    background-color: var(--mainBackground);
}

#topPanel {
    background-color: var(--topPanelBackground) !important;

    a div {
        color: var(--topPanelLinkColor);
        font-weight: 800;
    }

    a {
        color: var(--topPanelLinkColor) !important;
        font-weight: 800;
    }
}

.postContainerOverlay {
    background-color: var(--postBackground) !important;
    padding: 15px;
    border-radius: 5px;
    box-shadow: -10px -10px 12px 0 rgba(255, 255, 255, 0.5),
                10px 10px 12px 0 rgba(0, 0, 0, 0.1);

    .roomGrid {
        min-height: 230px;
    }

    .roomTitle a {
        color: var(--postLinkColor);
    }

    .roomDescription p {
        color: var(--textColor);
        font-weight: 600;
    }

    .roomFooter {
        color: var(--textColor);
        font-weight: 400;
    }
}

.postPlaceholder {
    background-color: var(--textColor) !important;

    .image {
        background-color: var(--textColor) !important;
    }

    .line {
        background-color: var(--textColor) !important;
    }

    .placeholder {
        background-color: var(--textColor) !important;
    }

}

.centered.row {
    margin-bottom: 20px;
    margin-top: 20px;
}