#topPanel {
    position: relative;
    height: 60px;

    a {
        display: flex;
        align-items: center;
    }

    div {
        cursor: pointer;
    }

    p {
        display: flex;
        align-items: center;
    }
}

#topPanelUsername {
    top: calc(25% - 10px);
}

@media (min-width: 580px) {
    #topPanelUsername {
        position: absolute !important;
        left: calc(50% - 3.7em) !important;
    }
}

@media (max-width: 400px) {
    #topPanelUsername {
        display: none !important;
    }
}